/* General Styling */
html {
    scroll-padding-top: 10rem;
    font-size: 1rem;
}

/* Larger Screen Scroll-Padding */
@media (min-width: 500px) {
    html {
        scroll-padding-top: 4.5em;
    }
}

body {
    font-family: "inter";
    font-weight: 300;
    background-color: #45B8AC;
    color:#EFC050;
    margin: 0;
}

/* Tablet Stlying General */
@media (min-width: 500px) {
    body {
        color: #828C72;
        background-color: #4d293b;

    }
}

/* Large Screen Styling General */
@media (min-width: 1200px) {
    body {
        background-color: #458f82;
    }
}

/* Header */
header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #EFC050;
    padding: 0.5rem 0;
    text-align: center;
}

/* Tablet Header */
@media (min-width: 500px) {
    header {
        background-color: #76426f;
    }
}

/* Large Screen Header */
@media (min-width: 1200px) {
    header {
        background-color: #f08e9a;
    }
}

/* Main Headings */
h1 {
    font-weight: 500;
    background-color: #D65076;
    color: #EFC050;
    border-radius: 5px;
    margin: 10.5rem auto 0;
    padding: 1rem;
    max-width: 50%;
    text-align: center;
}

/* Tablet Name Heading */
@media (min-width: 500px) {
    h1 {
        color: #f3e9e2;
        background-color: #bcc9a8;
        max-width: 30%;
        margin: 2.5em auto 0;
    }
}

/* Large Screen Name Heading */
@media (min-width: 1200px) {
    h1 {
        background-color: #f08e9a;
        max-width: 15%;
        margin: 2.5em auto 0;
    }
}

/* Tablet Headers */
h2 {
    font-weight: 400;
    background-color: #EFC050;
    color: #D65076;
    border-radius: 5px;
    display: inline;
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 100%;
}

/* Large Screen Headers */
@media (min-width: 500px) {
    h2 {
        color: #f3e9e2;
        background-color: #bcc9a8;
    }
}

@media (min-width: 1200px) {
    h2 {
        background-color: #f08e9a;
    }
}

/* Sections */
section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 0.5em;
}

.navbar-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Tablet Navbar */
@media (min-width: 500px) {
    .navbar-links {
        flex-direction: row;
        justify-content: space-around;
        flex: 1;
        max-width: 75%;
    }
}

/* Large Screen Navbar */
@media (min-width: 1200px) {
    .navbar-links {
        justify-content: space-around;
        max-width: 40%;
    }
}

.nav-link {
    font-size: 1.1rem;
    color:#D65076;
    text-decoration: none;
}

/* Tablet Nav Link Styling */
@media (min-width: 500px) {
    .nav-link {
        color: #bcc9a8;
    }
}

/* Large Screen Nav Link Styling */
@media (min-width: 1200px) {
    .nav-link {
        color: #D65076;
    }
}

.nav-link:hover {
    color:#00b489;
}

/* Tablet Nav Hover */
@media (min-width: 500px) {
    .nav-link:hover {
        color: #828C72;
    }
}

/* Large Screen Nav Hover */
@media (min-width: 1200px) {
    .nav-link:hover {
        color: #97c6a4;
    }
}

/* About Section */
.about-desc {
    background-color:#D65076;
    max-width: 80%;
    margin: 1.5rem auto 0;
    padding: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Tablet About Section */
@media (min-width: 500px) {
    .about-desc {
        color: #828C72;
        background-color: #76426f;
        font-weight: 400;
        max-width: 50%;
    }
}

/* Large Screen About Section */
@media (min-width: 1200px) {
    .about-desc {
        color: #458f82;
        background-color: #97c6a4;
        max-width: 40%;
    }
}

/* Experience Section */
.experience-list {
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto 0;
    max-width: 80%;
    gap: 0.5rem;
    box-sizing: border-box;
}

/* Tablet Experience Width */
@media (min-width: 500px) {
    .experience-list {
        max-width: 50%;
    }
}

/* Large Screen Experience Width */
@media (min-width: 1200px) {
    .experience-list {
        max-width: 40%;
    }
}

.experience-item {
    flex-grow: 1;
    padding: 1em;
    color:#EFC050;
    border-radius: 5px;
    background-color:#D65076;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Tablet Experience Styling */
@media (min-width: 500px) {
    .experience-item {
        color: #f3e9e2;
        background-color: #76426f;
    }
}

/* Large Screen Experience Styling */
@media (min-width: 1200px) {
    .experience-item {
        color: #458f82;
        background-color: #97c6a4;
    }
}

.experience-header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.job-title {
    color:#45B8AC;
    font-weight: bold;
    text-align: left;
    flex: 1;
}

.job-dates {
    max-width: 100%;
    text-align: right;
    flex-shrink: 1;
    color:#45B8AC;
    font-style: italic;
}

/* Tablet Job Color */
@media (min-width: 500px) {
    .job-title, .job-dates {
        color: #828C72;
    }
}

/* Large Screen Job Color */
@media (min-width: 1200px) {
    .job-title, .job-dates {
        color: #458f82;
    }
}

.job-description {
    margin-top: 1em;
    width: 100%;
    box-sizing: border-box;
}

/* Skills Section */
#skills {
    display: flex;
    margin: 1.5rem auto 0;
    max-width: 80%;
    box-sizing: border-box;
}

/* Tablet Skills Width */
@media (min-width: 500px) {
    #skills {
        max-width: 50%;
    }
}

/* Large Screen Skills Width */
@media (min-width: 1200px) {
    #skills {
        max-width: 40%;
    }
}

#skills ul {
    list-style-type: none;
    background-color: #D65076;
    border-radius: 5px;
    padding: 1rem;
    margin: 1.5rem auto;
    width: 100%;
    box-sizing: border-box;
}

/* Tablet Skills Styling */
@media (min-width: 500px) {
    #skills ul {
        font-weight: bolder;
        color: #bcc9a8;
        background-color: #76426f;
    }
}

/* Large Screen Skills Styling */
@media (min-width: 1200px) {
    #skills ul {
        color: #458f82;
        background-color: #97c6a4;
    }
}

#skills li {
    margin: 0.5rem;
}

/* Photo */
.photo {
    width: 100%;
    display: flex;
    max-width: 12.4rem;
    height: auto;
    margin: 0 auto;
    padding: 2rem;
}

/* Connect List */
.connect-list {
    max-width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 1.5em auto 0;
    display: flex;
    justify-content: space-around;
}

/* Leave Message Section */
#leave-message {
    background-color:#D65076;
    max-width: 80%;
    margin: 1.5rem auto 0;
    padding: 1.5rem;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Tablet Leave Message Section */
@media (min-width: 500px) {
    #leave-message {
        color: #828C72;
        background-color: #76426f;
        font-weight: 400;
        max-width: 50%;
    }
}

/* Large Screen Leave Message Section */
@media (min-width: 1200px) {
    #leave-message {
        color: #458f82;
        background-color: #97c6a4;
        max-width: 40%;
    }
}

#leave-message label {
    display: block;
    margin: 0.5rem;
    font-weight: bold;
}

#leave-message input[type="text"],
#leave-message input[type="email"],
#leave-message textarea {
    width: 80%;
}

#leave-message textarea {
    resize: none;
    min-height: 5rem;
}

#messages {
    display: flex;
    margin: 1.5rem auto 0;
    max-width: 80%;
    box-sizing: border-box;
}

/* Tablet Messages Width */
@media (min-width: 500px) {
    #messages {
        max-width: 50%;
    }
}

/* Large Screen Messages Width */
@media (min-width: 1200px) {
    #messages {
        max-width: 40%;
    }
}

#messages ul {
    list-style-type: none;
    background-color: #D65076;
    border-radius: 5px;
    padding: 1rem;
    margin: 1.5rem auto;
    width: 100%;
    box-sizing: border-box;
}

/* Tablet Message List */
@media (min-width: 500px) {
    #messages ul {
        color: #f3e9e2;
        background-color: #76426f;
    }
}

/* Large Screen Message List */
@media (min-width: 1200px) {
    #messages ul {
        color: #458f82;
        background-color: #97c6a4;
    }
}

#messages li {
    margin: 1rem auto;
}

#messages a {
    font-size: 1.1rem;
    color:#D65076;
    text-decoration: none;
}

/* Tablet User Message Link Styling */
@media (min-width: 500px) {
    #messages a {
        color: #bcc9a8;
    }
}

/* Large Screen User Message Link Styling */
@media (min-width: 1200px) {
    #messages a {
        color: #D65076;
    }
}

#messages a:hover {
    color:#00b489;
}

/* Tablet User Message Hover */
@media (min-width: 500px) {
    #messages a:hover {
        color: #828C72;
    }
}

/* Large Screen User Message Hover */
@media (min-width: 1200px) {
    #messages a:hover {
        color: #97c6a4;
    }
}

/* Font Awesome Icons */
.fa {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 1.2em;
    max-width: 100%;
    margin: 0;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #00b489;
    color: white;
}

.fa-envelope {
    background: #ea4c89;
    color: white;
}

footer {
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}

/* Larger Screen Footer Styling */
@media (min-width: 1200px) {
    footer {
        color: #f08e9a;
    }
}