body {
    font-family: "inter";
    font-weight: 300;
    background-color: #45B8AC;
    color:#EFC050;
    padding: 0 150px;
    padding-top: 100px;
    margin: 0;
    text-align: center;
}

html {
    scroll-padding-top: 70px;
}

h1 {
    font-weight: 500;
    background-color: #D65076;
    color: #EFC050;
    border: solid #D65076 2px;
    border-radius: 5px;
    margin: 30px auto;
    padding: 20px;
    display: inline;
    text-align: center;
}

h2 {
    font-weight: 400;
    background-color: #EFC050;
    color: #D65076;
    border: solid #EFC050 2px;
    border-radius: 5px;
    display: inline;
    padding: 10px;
}

section {
    padding-top: 20px;
    margin-bottom: 20px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #EFC050;
    padding: 10px 0;
    text-align: center;
}

.about-desc {
    display:flex;
    background-color:#D65076;
    padding: 15px;
    margin: 30px auto;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0 auto;
    width: auto;
    padding: 10px 20px;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-link {
    color:#D65076;
    text-decoration: none;
    padding: 10px 20px;
}

.nav-link:hover {
    color:#00b489;
}

.experience-list {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 0;
}

.experience-item {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    color:#EFC050;
    margin: 5px auto;
    padding: 15px;
    border: solid #D65076 1px;
    border-radius: 5px;
    background-color:#D65076;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.job-title {
    color:#45B8AC;
    text-align: left;
    font-weight: bold;
}

.job-dates {
    color:#45B8AC;
    font-style: italic;
    text-align: right;
    flex-shrink: 0;
}

.job-description {
    margin-top: 10px;
}

.photo {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 50px;
}

.connect-list {
    list-style-type: none;
    padding: 0;
    margin: 20;
    display: flex;
    justify-content: center;
}

.fa {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 20px;
    width: auto;
    margin: 0;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #00b489;
    color: white;
}

.fa-envelope {
    background: #ea4c89;
    color: white;
}